* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(41, 41, 41);
  overflow-x: hidden;
}
@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Roboto+Mono:wght@200;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@media screen and (min-width: 300px) {
  #nav_bar {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    border-bottom: 2px solid orange;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  #nav_bar ul {
    list-style-type: none;
    display: flex;
  }

  #nav_bar h1 {
    font-family: "East Sea Dokdo", cursive;
    font-size: 40px;
    font-weight: 500;
    color: white;
    margin: 0px 40px 0px 7%;
    opacity: 0.6;
  }

  #nav_bar a {
    text-decoration: none;
  }

  #nav_bar li {
    float: left;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
  }

  #nav_bar span {
    display: none;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px 10px 2px;
    color: white;
    font-size: 10px;
    opacity: 0.6;
    transition: 0.5s;
  }

  .fas {
    font-size: 15px;
    color: white;
    display: inline-block;
    text-rendering: auto;
    opacity: 0.6;
    transition: 0.5s;
  }

  #nav_bar a:hover > * {
    opacity: 1;
    color: orange;
  }

  /* Main Section */

  #main_sec {
    font-family: "Roboto Mono", monospace;
    font-weight: 600;
    margin: 20px 20px 10px 20px;
    color: white;
  }

  #main_sec h4 {
    font-size: 30px;
    color: white;
    opacity: 0.6;
  }

  #main_sec h1 {
    font-size: 55px;
    color: orange;
    opacity: 1;
    word-wrap: break-word;
    margin: 0px 20px 20px 20px;
    margin-right: 20%;
  }

  #main_sec span {
    color: white;
    opacity: 0.6;
  }

  #main_sec p {
    color: white;
    opacity: 0.6;
  }

  #main1 {
    display: grid;
    grid-template-columns: 100%;
  }

  #div1 {
    margin: 40px 10px 10px 40px;
  }

  #div1 h4 {
    margin: 120px 20px 0px 20px;
  }

  #div2 {
    margin: 80px 10px 10px 20px;
    padding: 0px 30px 0px 30px;
    text-align: center;
  }

  #interest_box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  #box1 {
    font-family: "Poiret One", cursive;
    width: 150px;
    height: 230px;
    background-color: rgb(34, 33, 33);
    border-radius: 20px;
    text-align: center;
    margin: 10px 10px 10px 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  #box1 i {
    margin: 20% 30%;
    font-size: 20px;
  }

  #box2 {
    font-family: "Poiret One", cursive;
    width: 150px;
    height: 230px;
    background-color: rgb(34, 33, 33);
    border-radius: 20px;
    text-align: center;
    margin: 10px 10px 10px 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  #box2 i {
    margin: 20% 30%;
    font-size: 20px;
  }

  #box3 {
    font-family: "Poiret One", cursive;
    width: 150px;
    height: 230px;
    background-color: rgb(34, 33, 33);
    border-radius: 20px;
    text-align: center;
    margin: 10px 10px 10px 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  #box3 i {
    margin: 20% 30%;
    font-size: 20px;
  }

  #box1 h4 {
    font-size: 20px;
  }
  #box2 h4 {
    font-size: 20px;
  }
  #box3 h4 {
    font-size: 20px;
  }

  #div2 h2 {
    font-size: 40px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 40px;
    background-color: black;
    border-left: 3px solid orange;
    border-right: 3px solid orange;
    border-bottom-right-radius: 30%;
    border-top-left-radius: 30%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    font-family: "Poiret One", cursive;
  }

  #div2 h3 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    text-align: center;
  }

  #div2 p {
    padding: 20px 20px 0px 20px;
    font-size: 20px;
    font-family: "Poiret One", cursive;
  }

  #div2 a {
    text-decoration: none;
    color: orange;
  }

  /* footer */

  #footer {
    display: none;
    margin: 10px 20px 20px 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  #footer ul {
    list-style-type: none;
  }

  #footer i {
    color: purple;
    font-size: 20px;
    opacity: 0.6;
    transition: 0.5s;
  }

  #footer i:hover {
    color: rgb(11, 194, 90);
    opacity: 1;
  }

  #footer li {
    float: left;
    padding: 15px 10px 15px 10px;
    margin: 0px 40px 0px 40px;
    border-right: 50px transparent;
  }

  #div1_ext {
    margin: 10px 10px 10px 10px;
    font-size: 10px;
  }

  #div1_ext i {
    font-size: 10px;
    margin-right: 20px;
  }

  #div1_ext ul {
    list-style-type: none;
  }

  #div1_ext li {
    padding: 10px 20px 10px 20px;
    opacity: 0.6;
  }

  #last_footer {
    background-color: black;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 0px 0px 0px 0px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  #last_footer ul {
    list-style-type: none;
    justify-content: center;
  }

  #last_footer i {
    color: purple;
    font-size: 20px;
    opacity: 0.6;
    transition: 0.5s;
  }

  #last_footer i:hover {
    color: rgb(11, 194, 90);
    opacity: 1;
  }

  #last_footer li {
    float: left;
    padding: 20px 20px 20px 10%;
    margin: 0px 40px 0px 40px;
  }

  #div2 li {
    padding: 10px 10px 10px 20px;
    list-style-type: none;
    text-align: left;
    margin: 10px 10px 10px 30px;
  }
}

@media screen and (min-width: 995px) {
  /*Navigation Bar */
  #nav_bar {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    border-bottom: 2px solid orange;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  #nav_bar ul {
    list-style-type: none;
    display: flex;
  }

  #nav_bar h1 {
    font-family: "East Sea Dokdo", cursive;
    font-size: 50px;
    font-weight: 500;
    color: white;
    margin: 0px 20px 0px 7%;
    opacity: 0.6;
  }

  #nav_bar a {
    text-decoration: none;
  }

  #nav_bar li {
    float: left;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
  }

  #nav_bar span {
    display: inline;
    margin: 10px 30px 10px 0px;
    padding: 10px 10px 10px 2px;
    color: white;
    font-size: 15px;
    opacity: 0.6;
    transition: 0.5s;
  }

  .fas {
    font-size: 20px;
    color: white;
    display: inline-block;
    text-rendering: auto;
    opacity: 0.6;
    transition: 0.5s;
  }

  #nav_bar a:hover > * {
    opacity: 1;
    color: orange;
  }

  /* Main Section */

  #main_sec {
    font-family: "Roboto Mono", monospace;
    font-weight: 600;
    margin: 5% 20px 10px 7%;
    color: white;
  }

  #main_sec h4 {
    font-size: 30px;
    color: white;
    opacity: 0.6;
  }

  #main_sec h1 {
    font-size: 55px;
    color: orange;
    opacity: 1;
    position: fixed;
    word-wrap: break-word;
    margin: 140px 20px 20px 20px;
    margin-right: 50%;
  }

  #main_sec span {
    color: white;
    opacity: 0.6;
  }

  #main_sec p {
    color: white;
    opacity: 0.6;
  }

  #main1 {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  #div1 {
    margin: 10px 10px 10px 10px;
  }

  #div1 h4 {
    margin: 100px 20px 20px 30px;
    position: fixed;
  }

  #div2 {
    margin: 80px 10px 10px 50px;
    padding: 0px 30px 0px 30px;
    text-align: center;
  }

  #interest_box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  #box1 {
    width: 200px;
    height: 300px;
    background-color: rgb(34, 33, 33);
    border-radius: 20px;
    text-align: center;
    margin: 10px 10px 10px 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  #box1 i {
    margin: 20% 30%;
    font-size: 80px;
  }

  #box2 {
    width: 200px;
    height: 300px;
    background-color: rgb(34, 33, 33);
    border-radius: 20px;
    text-align: center;
    margin: 10px 10px 10px 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  #box2 i {
    margin: 20% 30%;
    font-size: 80px;
  }

  #box3 {
    width: 200px;
    height: 300px;
    background-color: rgb(34, 33, 33);
    border-radius: 20px;
    text-align: center;
    margin: 10px 10px 10px 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  #box3 i {
    margin: 20% 30%;
    font-size: 80px;
  }

  #div2 h2 {
    font-size: 40px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 40px;
    background-color: black;
    border-left: 3px solid orange;
    border-right: 3px solid orange;
    border-bottom-right-radius: 30%;
    border-top-left-radius: 30%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  #div2 h3 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    text-align: center;
  }

  #div2 h2 {
    font-size: 40px;
  }

  #div2 p {
    padding: 20px 20px 0px 20px;
    font-size: 20px;
  }

  #div2 a {
    text-decoration: none;
    color: orange;
  }

  /* footer */

  #footer {
    display: inline;
    background-color: black;
    margin: 600px 20px 20px 20px;
    position: fixed;
    margin-right: 50%;
    margin-bottom: 20%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  #footer ul {
    list-style-type: none;
  }

  #footer i {
    color: purple;
    font-size: 25px;
    opacity: 0.6;
    transition: 0.5s;
    margin-left: 10px;
    margin-right: 10px;
  }

  #footer i:hover {
    color: rgb(11, 194, 90);
    opacity: 1;
  }

  #footer li {
    float: left;
    padding: 15px 10px 15px 10px;
    margin: 0px 20px 0px 20px;
    border-right: 50px transparent;
  }

  #div1_ext {
    margin: 350px 10px 10px 10px;
    position: fixed;
    font-size: 20px;
  }

  #div1_ext ul {
    list-style-type: none;
  }

  #div1_ext li {
    padding: 10px 20px 10px 20px;
    opacity: 0.6;
  }

  #div1_ext i {
    font-size: 20px;
    padding-right: 10px;
  }

  #last_footer {
    display: none;
  }

  #div2 li {
    list-style-type: none;
    text-align: left;
    margin: 10px 10px 10px 30px;
  }
}

@media screen and (min-width: 1365px) {
  #nav_bar {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    border-bottom: 2px solid orange;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  #nav_bar ul {
    list-style-type: none;
    display: flex;
  }

  #nav_bar h1 {
    font-family: "East Sea Dokdo", cursive;
    font-size: 60px;
    font-weight: 500;
    color: white;
    margin: 0px 40px 0px 7%;
    opacity: 0.6;
  }

  #nav_bar a {
    text-decoration: none;
  }

  #nav_bar li {
    float: left;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
  }

  #nav_bar span {
    margin: 10px 40px 10px 0px;
    padding: 10px 10px 10px 2px;
    color: white;
    font-size: 20px;
    opacity: 0.6;
    transition: 0.5s;
  }

  .fas {
    font-size: 24px;
    color: white;
    display: inline-block;
    text-rendering: auto;
    opacity: 0.6;
    transition: 0.5s;
  }

  #nav_bar a:hover > * {
    opacity: 1;
    color: orange;
  }

  /* Main Section */

  #main_sec {
    font-family: "Roboto Mono", monospace;
    font-weight: 600;
    margin: 5% 20px 10px 7%;
    color: white;
  }

  #main_sec h4 {
    font-size: 30px;
    color: white;
    opacity: 0.6;
  }

  #main_sec h1 {
    font-size: 55px;
    color: orange;
    opacity: 1;
    position: fixed;
    word-wrap: break-word;
    margin: 140px 20px 20px 20px;
    margin-right: 50%;
  }

  #main_sec span {
    color: white;
    opacity: 0.6;
  }

  #main_sec p {
    color: white;
    opacity: 0.6;
  }

  #main1 {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  #div1 {
    margin: 10px 10px 10px 10px;
  }

  #div1 h4 {
    margin: 100px 20px 20px 20px;
    position: fixed;
  }

  #div2 {
    margin: 80px 10px 10px 50px;
    padding: 0px 30px 0px 30px;
    text-align: center;
  }

  #interest_box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  #box1 {
    width: 200px;
    height: 300px;
    background-color: rgb(34, 33, 33);
    border-radius: 20px;
    text-align: center;
    margin: 10px 10px 10px 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  #box1 i {
    margin: 20% 30%;
    font-size: 80px;
  }

  #box2 {
    width: 200px;
    height: 300px;
    background-color: rgb(34, 33, 33);
    border-radius: 20px;
    text-align: center;
    margin: 10px 10px 10px 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  #box2 i {
    margin: 20% 30%;
    font-size: 80px;
  }

  #box3 {
    width: 200px;
    height: 300px;
    background-color: rgb(34, 33, 33);
    border-radius: 20px;
    text-align: center;
    margin: 10px 10px 10px 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  #box3 i {
    margin: 20% 30%;
    font-size: 80px;
  }

  #div2 h2 {
    font-size: 40px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 40px;
    background-color: black;
    border-left: 3px solid orange;
    border-right: 3px solid orange;
    border-bottom-right-radius: 30%;
    border-top-left-radius: 30%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  #div2 h3 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    text-align: center;
  }

  #div2 h2 {
    font-size: 40px;
  }

  #div2 p {
    padding: 20px 20px 0px 20px;
  }

  #div2 a {
    text-decoration: none;
    color: orange;
  }

  /* footer */

  #footer {
    background-color: black;
    margin: 600px 20px 20px 20px;
    position: fixed;
    margin-right: 50%;
    margin-bottom: 20%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  #footer ul {
    list-style-type: none;
  }

  #footer i {
    color: purple;
    font-size: 25px;
    opacity: 0.6;
    transition: 0.5s;
    margin-right: 10px;
    margin-left: 10px;
  }

  #footer i:hover {
    color: rgb(11, 194, 90);
    opacity: 1;
  }

  #footer li {
    float: left;
    padding: 15px 10px 15px 10px;
    margin: 0px 40px 0px 40px;
    border-right: 50px transparent;
  }

  #div1_ext {
    margin: 320px 10px 10px 10px;
    position: fixed;
    font-size: 20px;
  }

  #div1_ext ul {
    list-style-type: none;
  }

  #div1_ext li {
    padding: 10px 20px 10px 20px;
    opacity: 0.6;
  }

  #last_footer {
    display: none;
  }

  #div2 li {
    list-style-type: none;
    text-align: left;
    margin: 10px 10px 10px 30px;
  }
}

.interest_box2 ul {
  display: flex;
  flex-wrap: wrap;
}

.interest_box2 li {
  float: left;
  color: goldenrod;
}

.interest_box2 i {
  font-size: 20px;
  opacity: 0.6;
}
